body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
}

header {
    background: #111;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-family: 'Playfair Display',serif;
    color: #c9a24d;
}

header nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.container {
    display: flex;
    padding: 40px;
}

.sidebar {
    width: 220px;
}

.sidebar h3 {
    font-family: 'Playfair Display',serif;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    color: #555;
}

.sidebar li:hover {
    color: #c9a24d;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 25px;
    flex: 1;
}

.product-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-8px);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h4 {
    margin: 10px 0 5px;
}

footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 20px;
}

.categories {
    padding: 60px 40px;
    background: #ffffff;
}

.categories h2 {
    text-align: center;
    font-family: 'Playfair Display',serif;
    font-size: 36px;
    margin-bottom: 40px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
}

.category-card {
    background: linear-gradient(145deg,#111,#1c1c1c);
    color: #fff;
    padding: 40px 25px;
    border-radius: 18px;
    text-decoration: none;
    transition: all 0.4s ease;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

.category-card h3 {
    font-family: 'Playfair Display',serif;
    font-size: 24px;
    color: #c9a24d;
}

.category-card p {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}

.category-card:hover {
    transform: translateY(-10px);
    background: linear-gradient(145deg,#1a1a1a,#000);
}

.subcategory {
    padding: 60px 40px;
    background: #f9f9f9;
}

.subcategory h2 {
    font-family: 'Playfair Display',serif;
    font-size: 32px;
    color: #111;
}

.subcategory ul {
    margin-top: 20px;
    list-style: none;
    padding: 0;
}

.subcategory li{
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: color 0.3s;
}

.subcategory li:hover {
    color:#c9a24d
}